.git
dataset/
.DS_Store
.venv/
dcgan_results/*
training_results/*
training_models/*
training_models/discriminator_*.pth
training_models/generator_*.pth
src/__pycache__/*
generated_images/*
generator_progress.gif
